.cartitem {
    width: 100%;
    padding: .5rem;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 8px;
    background: #fff;
    border-radius: 2px;
    place-items: center;
    white-space: nowrap;
}

.cartitem__name {
    text-decoration: none;
    color: #171717;

}

.cartitem__name:hover {
    color: silver;

}

.cartitem__select {
    padding: 10px 17px;
}
.price {
    padding-top: 14px;
}


.cartitem__delete:hover,
.cartitem__delete:active,
.cartitem__delete:focus {
    background: #171717;
    transform: scale(1.2);
}
@media (max-width: 700px) {
    .cartitem__name {
        font-size: 0.8rem;
    }
    .cartitem__select,
    .cartitem__delete {
        padding: 8px 13px;
    }
    .cartitem__price {
        font-size: .8rem;
    }
    .price {
        padding-top: 9px;
    }
}


@media (max-width: 700px) {
    .cartitem__name {
        font-size: 0.6rem;
    }
    .cartitem__select,
    .cartitem__delete {
        padding: 5px 8px;
    }
    .cartitem__price {
        font-size: .6rem;
        
    }
}